@page "/AthReg/{ismine}"
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Internal;
@using Newtonsoft.Json;
@using System.Security.Claims;
@using irunsaapp.Models
@using irunsaapp.Services
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
﻿@using Microsoft.AspNetCore.Components.Authorization;
@using System.Net.Http.Headers;
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IAuthService AuthService
@inject HttpClient httpClient


@inject IEntityType EntityType
@inject NavigationManager NavigationManager

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0">
    <MudItem xs="12">


        <EditForm Model="athleteEntity" OnValidSubmit="HandleAthleteReg">
            <MudCard Elevation="1" Class="rounded-lg py-1">
                <MudCardContent>
                    <MudText Color="Color.Default" Typo="Typo.h6" Style="font-weight: 600;">Sign Up</MudText>
                    <MudText Class="mb-5" Typo="Typo.body2">Let's go</MudText>

                    @if (ShowErrors)
                    {
                        <div class="alert alert-danger" role="alert">
                            @foreach (var error in Errors!)
                            {
                                <p>@error</p>
                            }
                        </div>
                    }

                    <MudGrid>
                     
                        <MudItem xs="6">
                            @if (_processing)
                            {
                                <MudProgressCircular Color="Color.Success" Indeterminate="true" />
                            }
                            else
                            {
                                <MudAvatar Style="height:70px; width:70px; font-size:2rem;">
                                    <MudImage Src="@imageDataUrl"></MudImage>
                                </MudAvatar>
                           <br />
                             
                                        @if (!string.IsNullOrEmpty(shortcodef))
                                    {
                                        <MudImage Src="@($"https://irunsa.co.za/Imageroot/{shortcodef}")" Width="40" Height="30" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4" />
                                        
                                        }
                                
                    
                            
                            }
                         

                       
                        </MudItem>

                  
                        <MudItem xs="6" >
                            <MudFileUpload Context="file" FilesChanged="OnFileSelected" T="IBrowserFile">
                                <ButtonTemplate>
                                    <MudIconButton HtmlTag="label"
                                                  
                                                   Color="Color.Info"
                                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                                   for="@file">
                                    </MudIconButton>
                                </ButtonTemplate>
                            </MudFileUpload>
                        </MudItem>
                        <MudItem xs="6">
                       
                
                        </MudItem>
                    </MudGrid>
                    <MudAlert class="@invisi" Severity="Severity.Error">@errorMessage</MudAlert>
       
                 
                    <MudTextField T="string" Label="Name" Id="Name" Disabled="@cantedit" @bind-Value="athleteEntity.AthleteName" Variant="Variant.Outlined"
                                  Adornment="Adornment.End" />
                    <ValidationMessage For="@(() => athleteEntity.AthleteName)" />
                    <MudTextField T="string" Label="Surname" Id="Surname" @bind-Value="athleteEntity.AthleteSurname" Disabled="@cantedit" Variant="Variant.Outlined"
                                  Adornment="Adornment.End" />
                    <ValidationMessage For="@(() => athleteEntity.AthleteSurname)" />
                  
                        <MudTextField DebounceInterval="1" OnDebounceIntervalElapsed="HandleIntervalElapsed" @bind-Value="selectedcountryname" HelperText="@searchTerm" Label="Country of nationality" Variant="Variant.Outlined" Adornment="Adornment.End"/>

                    
               
                 
      
                 
                    @if (searchResults != null)
                    {
                        <MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
                          
                            <tbody>
                                @if (searchResults.Any())
                                {
                                @foreach (var country in searchResults)
                                {
                                  
                                        <tr @onclick=@(_ => SelectCountry(country.CountryID,country.CountryName,country.Shortcodeflag))>

                                            <td style="text-align:left">@($"{country.CountryName}")</td>
                                            <td style="text-align:right"> <img width="30" src="@($"https://irunsa.co.za/Imageroot/{country.Shortcodeflag}")" alt="Country Flag" /></td>

                                        </tr>
                                  

                            }
                                }
                                else

                                {
                                    <MudAlert Severity="Severity.Error">Invalid Country please retype</MudAlert>
                                }
                            </tbody>
                        </MudSimpleTable>
                      
                    }

              
                    
                    <MudTextField T="string" Label="ID/Passport" Id="IDPssport" @bind-Value="athleteEntity.ID_Passport" Variant="Variant.Outlined"
                                  Adornment="Adornment.End" />
                    <ValidationMessage For="@(() => athleteEntity.ID_Passport)" />
                    <MudDatePicker Label="Date of Birth" Editable="true" @bind-Date="athleteEntity.DOB"  Placeholder="Select Date" />
              
                    <ValidationMessage For="@(() => athleteEntity.DOB)" />
                    



                    <MudRadioGroup T="int" @bind-SelectedOption="athleteEntity.GenderId" Class="d-flex flex-column">
                            <MudRadio Option="1"  Color="Color.Primary">Male</MudRadio>
                        <MudRadio Option="2" Color="Color.Secondary">Female</MudRadio>

                        </MudRadioGroup>

                         

                    <MudTextField T="string" Label="Email" Id="Email" @bind-Value="athleteEntity.Email" Disabled="@cantedit" Variant="Variant.Outlined"
                                  Adornment="Adornment.End" />
                    <ValidationMessage For="@(() => athleteEntity.ID_Passport)" />

                
                    
                    <MudButton Class="my-4 py-2 rounded-lg" ButtonType="ButtonType.Submit" Color="Color.Tertiary" FullWidth="true" Variant="Variant.Filled">Create Account</MudButton>
@* 
                    <div class="d-flex justify-center my-5">
                        <MudLink Href="/pages/sign-in" Typo="Typo.body2">Already Registered? Sign in</MudLink>
                    </div>

                    <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Primary" DisableElevation FullWidth="true" StartIcon="fab fa-facebook" Variant="Variant.Filled">Register with Facebook</MudButton>
                    <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Error" DisableElevation FullWidth="true" StartIcon="fab fa-google" Variant="Variant.Filled">Register with Google</MudButton>
                    <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Default" DisableElevation FullWidth="true" StartIcon="fab fa-apple" Variant="Variant.Filled">Register with Apple</MudButton> *@
                    </MudCardContent>
                    </MudCard>
                    </EditForm>
                    </MudItem>
                    </MudGrid>

@code {
    private AthleteEntity athleteEntity = new AthleteEntity();
    private bool ShowErrors;
    private IEnumerable<string>? Errors;
    private string searchTerm;
    private string searchTerm2;
    private List<Country> searchResults;
    private List<Club> searchResults2;
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    int? selectedcountryid;
    string? selectedcountryname;
    int? selectedclubid;
    string? selectedclubname;
    string? shortcodef;
    public DateTime? DOB { get; set; }
    DateTime? date = DateTime.Today;
    [Parameter]
    public string ismine { get; set; }
    bool cantedit;
    string invisi ="invisible";
    string errorMessage;


    private IBrowserFile selectedFile;
    private string imageDataUrl;
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private bool _processing = false;


    private async void OnFileSelected(IBrowserFile file)
    {
        selectedFile = file;
        _processing = true;
        invisi = "invisible";
        if (file != null)
        {
            // Define the maximum allowed size in bytes
            long maxAllowedSizeBytes = 1024 * 50000;  // 5 MB

            if (file.Size > maxAllowedSizeBytes)
            {
                errorMessage = "File size exceeds the maximum allowed size.";
                invisi = "";
                _processing = false;
                return;
            }

            // Check allowed file extensions (case-insensitive)
            string[] allowedExtensions = { ".jpeg", ".jpg", ".bmp", ".png", ".gif", ".tiff" };
            string fileExtension = Path.GetExtension(file.Name).ToLower();
            if (!allowedExtensions.Any(ext => ext.Equals(fileExtension, StringComparison.OrdinalIgnoreCase)))
            {

                errorMessage = "Only JPEG, BMP, PNG, GIF, and TIFF file types are allowed.";
                invisi = "";
                _processing = false;
                return;
            }

            var buffer = new byte[file.Size];
            await file.OpenReadStream(maxAllowedSizeBytes).ReadAsync(buffer);
            var imageBase64 = Convert.ToBase64String(buffer);
            imageDataUrl = $"data:{file.ContentType};base64,{imageBase64}";
            _processing = false;
            StateHasChanged(); // Update the UI

        }
    }


    private async Task PrepopulateFormFromClaims()
    {
        if (ismine == "yes")
        {
            cantedit = true;
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;


            if (user.Identity.IsAuthenticated)
            {
                athleteEntity.Email = user.FindFirst(ClaimTypes.Email)?.Value;
                athleteEntity.AthleteName = user.FindFirst(ClaimTypes.Name)?.Value;
                athleteEntity.AthleteSurname = user.FindFirst(ClaimTypes.Surname)?.Value;
            }
        }
        else

        {
            cantedit = false;

        }
    }




    // This gets called when the component is initialized
    protected override async Task OnInitializedAsync()
    {


        await PrepopulateFormFromClaims();
        await base.OnInitializedAsync();
    }

    void HandleIntervalElapsed2(string debouncedText)
    {


        // Call your search function here and update searchResults
        searchResults2 = Search2(debouncedText);
        // at this stage, interval has elapsed
    }
    private List<Club> Search2(string value)
    {


        var responseTask = httpClient.GetStringAsync($"api/Club/AutoComplete/{value}");
        responseTask.Wait(); // Blocking call, which should be used with caution

        if (responseTask.IsCompletedSuccessfully)
        {
            var response = responseTask.Result;
            return JsonConvert.DeserializeObject<List<Club>>(response);
        }
        else
        {
            throw new Exception("Failed to get response.");
        }
    }

    void SelectClub(int id, string country)
    {
        selectedclubid = id;
        selectedclubname = country;
        searchResults2 = null;
    }

    void HandleIntervalElapsed(string debouncedText)
    {


        // Call your search function here and update searchResults
        searchResults = Search(debouncedText);
        // at this stage, interval has elapsed
    }
    private List<Country> Search(string value)
    {
        var responseTask = httpClient.GetStringAsync($"api/Country/AutoComplete/{value}");
        responseTask.Wait(); // Blocking call, which should be used with caution

        if (responseTask.IsCompletedSuccessfully)
        {
            var response = responseTask.Result;
            return JsonConvert.DeserializeObject<List<Country>>(response);
        }
        else
        {
            throw new Exception("Failed to get response.");
        }
    }

    void SelectCountry(int id, string country, string shortcodefs)
    {
        selectedcountryid = id;
        selectedcountryname = country;
        shortcodef = shortcodefs;
        searchResults = null;
      
    }


    private async Task HandleAthleteReg()
    {
        ShowErrors = false;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        athleteEntity.UpdateDate = DateTime.Now;
        athleteEntity.CreatedByUserId = user.FindFirst(ClaimTypes.Actor)?.Value;
        athleteEntity.UpdatedByUserId = user.FindFirst(ClaimTypes.Actor)?.Value;
        athleteEntity.Avatar = imageDataUrl;
        athleteEntity.CreateDate = DateTime.Now;
        athleteEntity.ClubEntityId = 0;

        // First, store the AthleteEntity
        var response = await httpClient.PostAsJsonAsync("api/AthleteEntity/AddAthleteEntity", athleteEntity);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var result = JsonConvert.DeserializeAnonymousType(content, new { AthleteEntityId = 0 });
            var athleteEntityId = result.AthleteEntityId;

            // Handle the athleteEntityId as needed
            Console.WriteLine("AthleteEntity added successfully. ID: " + athleteEntityId);

            // Handle the attachment if a file is selected
            if (selectedFile != null && selectedFile.OpenReadStream() != null)
            {
                // Create the multipart content with the file
                var multipartContent = new MultipartFormDataContent();

                // Convert IBrowserFile to StreamContent
                var streamContent = new StreamContent(selectedFile.OpenReadStream())
                    {
                        Headers =
                {
                    ContentDisposition = new ContentDispositionHeaderValue("form-data")
                    {
                        Name = "\"File\"",
                        FileName = !string.IsNullOrEmpty(selectedFile.Name) ? selectedFile.Name : "defaultFileName.ext"
                    },
                    ContentType = new MediaTypeHeaderValue(selectedFile.ContentType)
                }
                    };

                // Add the StreamContent to the form data
                multipartContent.Add(streamContent, "File");

                // Add other form data if needed
                multipartContent.Add(new StringContent("1"), "EntityTypeId"); // Assuming entityTypeId for AthleteEntity is 1
                multipartContent.Add(new StringContent(athleteEntityId.ToString()), "EntityId");
                multipartContent.Add(new StringContent("2"), "AttachmentGroupId"); // Assuming attachmentGroupId is 2
                multipartContent.Add(new StringContent("1"), "AttachmentTypeId"); // Assuming attachmentTypeId is 1
                multipartContent.Add(new StringContent(user.FindFirst(ClaimTypes.Actor)?.Value), "CreatedByUserId");

                // Call the AddAttachment method with the populated Attachment object and the file
                var attachmentResponse = await httpClient.PostAsync("api/Attachment/AddAttachment", multipartContent);

                if (!attachmentResponse.IsSuccessStatusCode)
                {
                    var problemContent = await attachmentResponse.Content.ReadAsStringAsync();
                    var problemDetails = JsonConvert.DeserializeObject<ProblemDetails>(problemContent);

                    Console.WriteLine("Error storing Attachment:");
                    Console.WriteLine($"Status: {problemDetails.Status}");
                    Console.WriteLine($"Title: {problemDetails.Title}");
                    Console.WriteLine($"Detail: {problemDetails.Detail}");
                    Console.WriteLine("Error storing Attachment");
                }
            }
        }
        else
        {
            // Handle error, maybe display an error message
            Console.WriteLine("Error storing AthleteEntity. Status code: " + response.StatusCode);
        }

        Console.WriteLine("Registration submitted successfully!");
        // ... You can perform further actions after successful registration
    }




}