@page "/home"
@page "/"
@inject AuthenticationStateProvider AuthState
@using System.Security
@using System.Security.Claims

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <div class="d-flex flex-row justify-space-between mt-7 mb-2">
                <div class="d-flex">
                    <MudIconButton Icon="fas fa-calendar" Color="Color.Secondary" Size="Size.Small"></MudIconButton>
                    <MudText Color="Color.Default" Class="mx-2" Style="font-weight: 500;" Typo="Typo.h6">Featured Events</MudText>
                </div>
                <MudText Color="Color.Primary" Class="align-self-center" Typo="Typo.subtitle2">View All</MudText>
            </div>
            <MudGrid Class="mb-5 pt-0 mb-1">
                <MudItem xs="12">
                    <div class="hz-container px-1 py-2">
                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/13w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Primary">Road Running</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 400;" Class="mt-n2">Oom Die Dam</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">R 150.00</MudText>
                                        <MudText Typo="Typo.caption">Entry fee from</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Oom die dam is a legendary road running challenge that seen the streets of south africa for over 2 decades.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                                  </MudCardActions>
                         <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more </MudChip>
                            </MudCardActions>
                        </MudCard>

                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/15w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Error">Cross Cuntry</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 400;" Class="mt-n2">CGA league 1</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">R 30.00</MudText>
                                        <MudText Typo="Typo.caption">Entry fee from</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">This will central gautengs first leagfue meeting of the season.</MudText>
                            </MudCardContent>
                        
                                <MudCardActions>
                                    <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                                </MudCardActions>
                                <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more </MudChip>
                                </MudCardActions>
                           
                        </MudCard>

                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/16w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Warning">Marketing</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">SEO &amp; Keywords</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$59</MudText>
                                        <MudText Typo="Typo.caption">Premium</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Rank your page higher in Google's Search Results and learn the importance of keywords.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                            </MudCardActions>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more  </MudChip>
                            </MudCardActions>
                        </MudCard>

                        <MudCard Class="rounded-lg" Style="width: 310px;">
                            <MudCardMedia Image="images/18w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Tertiary">Backend Integration</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Programming</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$79</MudText>
                                        <MudText Typo="Typo.caption">Premium</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Learn Data Structures and Algorithms in the most popular development language out there.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">3 Videos - 1hrs 30min</MudChip>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                            </MudCardActions>
                        </MudCard>
                    </div>
                </MudItem>
            </MudGrid>
        </NotAuthorized>
        <Authorized>
            <MudPaper Elevation="3" Class="px-4 mx-n4 mt-n10 pt-10 pb-12 mud-theme-primary" Style="border-radius: 0px 0px 30px 30px;" Outlined="false">
                <MudGrid Class="mt-n5">
                    <MudItem xs="12">
                        <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex justify-space-between pa-0">
                            <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-2 align-self-center">
                                <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 400;")">Welcome!</MudText>
                                <MudText Color="Color.Default" Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 600;")">@context.User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value @context.User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname")?.Value</MudText>
                            </MudPaper>
                            <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 align-self-center">
                                <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                            </MudPaper>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <MudGrid Class="mb-5 pt-0 mb-1">
                <MudItem xs="12">
                    <div class="hz-container px-1 py-2">
                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/13w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Primary">Road Running</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 400;" Class="mt-n2">Oom Die Dam</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">R 150.00</MudText>
                                        <MudText Typo="Typo.caption">Entry fee from</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Oom die dam is a legendary road running challenge that seen the streets of south africa for over 2 decades.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                            </MudCardActions>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more </MudChip>
                            </MudCardActions>
                        </MudCard>

                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/15w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Error">Cross Cuntry</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 400;" Class="mt-n2">CGA league 1</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">R 30.00</MudText>
                                        <MudText Typo="Typo.caption">Entry fee from</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">This will central gautengs first leagfue meeting of the season.</MudText>
                            </MudCardContent>

                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                            </MudCardActions>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more </MudChip>
                            </MudCardActions>

                        </MudCard>

                        <MudCard Class="rounded-lg mr-5" Style="width: 310px;">
                            <MudCardMedia Image="images/16w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Warning">Marketing</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">SEO &amp; Keywords</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$59</MudText>
                                        <MudText Typo="Typo.caption">Premium</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Rank your page higher in Google's Search Results and learn the importance of keywords.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">Event Start 2023-Oct-04 - 8:00am </MudChip>
                            </MudCardActions>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Race Entry/View more  </MudChip>
                            </MudCardActions>
                        </MudCard>

                        <MudCard Class="rounded-lg" Style="width: 310px;">
                            <MudCardMedia Image="images/18w.jpg" Height="160" />
                            <MudCardContent Style="width: 310px;">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        <MudText Typo="Typo.caption" Color="Color.Tertiary">Backend Integration</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Programming</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$79</MudText>
                                        <MudText Typo="Typo.caption">Premium</MudText>
                                    </div>
                                </div>
                                <MudText Typo="Typo.body2">Learn Data Structures and Algorithms in the most popular development language out there.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">3 Videos - 1hrs 30min</MudChip>
                                <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                            </MudCardActions>
                        </MudCard>
                    </div>
                </MudItem>
            </MudGrid>
    


        </Authorized>
    </AuthorizeView>

    
  

 
}
@code {
    public bool _loaded;

    protected override async Task OnInitializedAsync()
    {    
        await Task.Delay(500);
        _loaded = true;
    }
}